.reference {
    background: linear-gradient(135deg,#ff4c9f,#ff7b74);
    height: 75px;
    width: 75px;
    position: relative;
}
.popout-menu {
    position: absolute;
    visibility: hidden;
    left: 100%;
    background: #333;
    color: #fff;
    font-size: .9rem;
    padding: .4rem .8rem;
    width: 100px;
    text-align: center;
}
.reference:hover > .popout-menu {
    visibility: visible;
}