.grid-layout {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
            'sidebar header header'
            'sidebar content content'
            'sidebar footer  footer';
    color: white;
}
.grid-layout > div {
    background: #333;
    padding: 10px;
}
.sidebar {
    grid-area: sidebar;
}
.content {
    grid-area: content;
}
.header {
    grid-area: header;
}
.footer {
    grid-area: footer;
}