.hairline-border {
    box-shadow: 0 0 0 1px;
}
@media (min-device-height: 1000px) {
    .hairline-border {
        box-shadow: 0 0 0 50px;
    }
}
@media (min-resolution: 3dppx) {
    .hairline-border {
        box-shadow: 0 0 0 0.33333333px;
    }
}
@media (min-resolution: 4dppx) {
    .hairline-border {
        box-shadow: 0 0 0 0.25px;
    }
}